body {
  background-color:white;
    background-size: cover;
    opacity: 50%;
}

a {
  text-decoration: none;
}

/*---------------
HEADER
INDEX PAGE
----------------*/

#top {
  height: 75px;
  text-align: center;
}

#logo {
  position: absolute;
  letter-spacing: -2px;
  margin-left: 15%;
}

#logo a{
  color: #BF3030;
  text-decoration: none;
}


h3 {
  position: relative;
  margin: 0;
  color: #FF0000;
  font-family: Impact;
  font-weight: 200;
  font-size: 3em;
}

* {
  /*overflow: hidden;*/

}

/*-----------------
Body
Contact
------------------*/

#content {
  float: left;
  position: absolute;
  left: 20%;
  top: 10%;

}

.md-close {
	border: none;
	padding: 0.6em 1.2em;
	background: #c0392b;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

.md-close:hover {
	background: #A5281B;
}

table {
  top: 5%;
  border-spacing: 50px;
  border-collapse: 0;
}

table h3 {
  position: relative;
  margin: 0;
  color: white;
  font-family: Impact;
  font-weight: 200;
  font-size: 2em;

}

td {
  background-color:#FB8F30;
  height:200px;
  width:200px;
}
#clickables td {
    border-radius: 20px;
  box-shadow: 0px 0px 100px #888888;
}

/*-----
Modal
*/
.md-modal {
background-color:#8F1B0F;
  background-position:initial initial;
  background-repeat:initial initial;
  height:auto;
  left:25%;
  max-width:630px;
  min-width:320px;
  position:fixed;
  top:25%;
  width:50%;
  z-index:2000;
        
}
p {
    text-align: center;
}

.md-content div {
    text-align: left;
    font-family: sans-serif;
}
 
.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

#survey {

border: 5px solid black;
border-radius: 20px;
}
/* --------------
Footer
---------------------*/



#footer {
  padding: 3em 1em;
  z-index: 1;
  text-align: center;
  position:absolute;
  bottom:0;
  float: left;
  width: 100%;
  font-size: .3em;
  overflow: hidden;
}

#footer h1 {
  color: orange;
  font-family: sans-serif;
}